<div class='container'>
  <div class='row'>
    <ng-container *ngFor='let course of courses'>
      <div class="card border-primary text-white bg-dark mb-3 card-margin" style="max-width: 18rem;">
        <div class="card-header">
          <h5 class="card-title">{{course.subjectName}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            Total Percentage: {{course.totalPercentage}}
          </p>
          <p class="card-text text-center">
            Covered Percentage : {{course.totalPercentage}}
          </p>
          <p class="card-text text-center">
            Current Average : {{course.totalPercentage}}
          </p>
          <a tooltip="Add Grade" (click)='addGrade(course.id)'> <i class="fas fa-plus fa-2x mr-5 "></i></a>
          <a tooltip="Edit Course" (click)='addGrade(course)'><i class="fas fa-edit fa-2x mr-5"></i></a>
          <a tooltip="Delete Course" (click)='addGrade(course.id)'><i class="fas fa-trash fa-2x mr-5"></i></a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
