.card-margin{
  margin-right: 1%
}

.card-width{
  max-width: 18rem;
}

.content{
  text-align: justify;
}
.container-info{
  padding: 20%;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (min-width: 320px) and (max-width: 768px) {
  .flex-container{
      flex-direction: column;
    }

  .card-width{
    max-width: 18rem;
  }

  .card-margin{
    margin-right: 7%
  }
}

