<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Percentage (%)</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <ng-container *ngIf='data.length > 0'>
    <tbody *ngFor="let grade of data">
      <ng-container *ngIf='grade.id > 0'>
        <tr app-courses-grade-item [data]=grade></tr>
      </ng-container>
    </tbody>
  </ng-container>
  <ng-container *ngIf='data.length === 0'>
    <div class='text-center'>
        No Grades Available.
    <br/>
        <span>Add grades to this Course from the Course tab.</span>
    </div>
  </ng-container>
</table>



