<div class="container ">
  <div class="row flexbox-container">
    <div class="col-lg-3 col-sm-6 margin-center">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="../../assets/aoo.JPG">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://scripteden.com/">Azeez O. Odumosu</a>
          </div>
          <div class="desc">Software Engineer</div>
          <div class="desc">.Net Angular SQL</div>
          <div class="desc">az6bcn@gmail.com</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/hasexzo">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher" href="https://www.facebook.com/az6bcn">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="btn btn-warning btn-sm" rel="publisher" href="https://www.instagram.com/olusegunbcn/">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
