<div class="flex-container-main">
  <div class="card">
    <!-- <img
          src="../../assets/aoo.JPG"
          class="card-img-top img-fluid rounded-circle"
          alt="..."
        > -->
    <div class="card-body flex-container-row">
      <h5 class="card-title">
        <a
          target="_blank"
          href="https://scripteden.com/"
        >Azeez O. Odumosu
        </a>
      </h5>
      </div>
      <div class="flex-container">
        <div class="desc"><strong>Software Engineer</strong></div>
        <div class="desc">.Net Angular SQL</div>
        <div class="desc">az6bcn@gmail.com</div>
      </div>
      <div class="flex-container-row">
        <a
          class="btn btn-primary btn-twitter btn-sm "
          style="margin: 10% 5%;"
          href="https://twitter.com/hasexzo"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          class="btn btn-primary btn-sm "
          style="margin: 10% 5%;"
          rel="publisher"
          href="https://www.facebook.com/az6bcn"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          class="btn btn-warning btn-sm "
          style="margin: 10% 5%;"
          rel="publisher"
          href="https://www.instagram.com/olusegunbcn/"
        >
          <i class="fab fa-instagram"></i>
        </a>

      </div>
      </div>
      </div>

