.size{
  max-width: 30% !important;
}
.shadow-lg{
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important
}
.yellow {
  background-color: #ffc107;
}
.red {
  background-color: #dd3d31;
}
.green {
  background-color: #28a745;
}

.text-color{
  color: #ffffff
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.flex-container-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.card{
    margin: 0 1% 0 1%;
    min-width: 25%;
    max-width: 25%;
    min-height: 30%;
    max-height: 30%;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .flex-container{
    display: flex;
    flex-direction: column;
  }

  .card{
    margin: 1% 0 1% 0;
    min-width: 50%;
    /* max-width: 50%; */
  }

  p {
    font-size: xx-large;
  }

  h4{
    font-size: xxx-large;
  }
}

.icon-margin{
  margin: 0 3% 0 3%;
}
