
<div class="container container-center">
  <div class="row row-card">
    <div class="col-lg-4 col-md-8 mb-5 mb-lg-0  ml-4 red size shadow-lg card">
      <div class="card-body d-flex align-items-end flex-column text-right">
        <h4 class="text-color">Courses-Grades</h4>
        <p class="w-75 text-color">Records of current semester's Courses and respective grades.!</p>
        <div class='w-100'>
            <i class="fas fa-user-edit fa-3x"></i>
            <i class="fas fa-pen fa-3x"></i>
            <i class="fas fa-graduation-cap fa-3x"></i>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-8 mb-5 mb-lg-0  ml-4 yellow size shadow-lg card yellow">
      <div class="card-body d-flex align-items-end flex-column text-right">
        <h4 class="text-color">Courses</h4>
        <p class="w-75 text-color"></p>
        <i class="fas fa-plus fa-3x"></i> Add Course
        <i class="fas fa-plus fa-3x"></i> Add Grades
        <i class="fas fa-edit fa-3x"></i>edit Grades
      </div>
    </div>
    <div class="col-lg-4 col-md-8  ml-4 green size shadow-lg card">
      <div class="card-body d-flex align-items-end flex-column text-right">
        <h4 class="text-color">Contact</h4>
        <p class="w-75 text-color"></p>
        <i class="far fa-address-card fa-3x"></i>
        <i class="fas fa-envelope fa-3x"></i>az6bcn@gmail.com
      </div>
    </div>
  </div>
</div>

<!-- https://startbootstrap.com/templates/general/ -->
