<div class='container text-center text-muted'>
<h1>Academic Year {{getYear()}}</h1>
</div>

<ng-container *ngIf='(isLoading$ | async)'>
  <app-spinner></app-spinner>
</ng-container>

<ng-container *ngIf='!(isLoading$ | async) && coursesGrades && coursesGrades.length > 0'>
<div class=''>
  <ng-container *ngFor='let courseGrade of coursesGrades'>
    <accordion [isAnimated]="true">
      <accordion-group class='font-weight-bold' heading='{{courseGrade.subjectName}}'>
        <div class='flex-container'>
            <app-courses-grade-list [data]='courseGrade.grades'></app-courses-grade-list>
            <div *ngIf='courseGrade.grades.length > 0' [ngClass]='getGradeClasses(courseGrade.average)'> {{courseGrade.average}}
              <i [ngClass]='getFontIconClasses(courseGrade.average)'></i>
            </div>
          </div>
          <div class='flex-container-wrap'>
            <app-pie-chart class='pie-chart' [data]='courseGrade.grades'>
            </app-pie-chart>
          </div>
      </accordion-group>
    </accordion>
  </ng-container>

<div class="flex-container mt-5">
    <pagination [totalItems]='paginationInfo.totalItems'
                [rotate]="true"
                [maxSize]="paginationInfo.totalPages"
                [itemsPerPage]="paginationInfo.itemsPerPage"
                [(ngModel)]='paginationInfo.currentPage'
                (pageChanged)='pageChanged($event)'>
    </pagination>
</div>
</div>
</ng-container>


<ng-container *ngIf='!(isLoading$ | async) && coursesGrades === undefined'>
  <div class="container-info">
      <alert type="info" class="content">
          <strong>Oh snap!</strong> No courses found. Please create a new course in the Courses tab.
      </alert>
  </div>
</ng-container>
