<ng-container *ngIf='courses && courses.length > 0 && paginationInfo !== undefined'>
  <div class='container'>
    <app-custom-card
      [courses]='courses'
      (addgrade)='addGrade($event)'
      (editcourse)='editCourse($event)'
      (deletecourse)='deleteCourse($event)'
      (addcourse)='addCourse($event)'></app-custom-card>

      <div class="row mt-5">
        <div class="col-xs-12 col-12">
          <pagination [totalItems]='paginationInfo.totalItems'
                      [rotate]="true"
                      [maxSize]="paginationInfo.totalPages"
                      [itemsPerPage]="paginationInfo.itemsPerPage"
                      [(ngModel)]='paginationInfo.currentPage'
                      (pageChanged)='pageChanged($event)'>
          </pagination>
        </div>
      </div>
  </div>
</ng-container>

<ng-container *ngIf='(isLoading$ | async)'>
  <app-spinner></app-spinner>
</ng-container>


<app-add-grade-modal (gradeFormValue)='saveGrade($event)' [isLoaded]='setModalSpinnerToFalse'></app-add-grade-modal>



